/**
Project Name: FCC Weather App
File Name: style.css
Author Name: Fitzroy Woodruff
Site: http://kleeshay.com
Description: the stylesheet for my weather app
*/
:root,
html {
	padding: 0;
	margin: 0;
	height: 100%;
}
.hot {
	background-image: url("https://fitzroywoodruff.github.io/weatherApp/img/hot.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.cold {
	background-image: url("https://fitzroywoodruff.github.io/weatherApp/img/cold.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.nice {
	background-image: url("https://fitzroywoodruff.github.io/weatherApp/img/nice.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.beach {
	background-image: url("https://fitzroywoodruff.github.io/weatherApp/img/beach.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.rain {
	background-image: url("https://fitzroywoodruff.github.io/weatherApp/img/rain.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.gridItem {
	justify-content: center;
}
